.user-information__follow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.user-information__follow:last-child {
    margin-right: 0;
}

.follow__img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.follow__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}