.repositories__row {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 24px;
    min-height: 112px;
}

.repositories__row:last-child {
    margin: 0;
}

.repositories__row-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #0064EB;
    margin-bottom: 16px;
}
.repositories__row-title:hover {
    color: #0c4b9e;
    cursor: pointer;
}

.repositories__row-text {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    max-width: 770px;
    overflow: hidden;
    text-align: left;
    max-height: 19px;
}