.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 41px;
    background: #0064EB;
}

.logo {
    margin-right: 22px;
}

.logo_circle {
    border-radius: 50%;
}

